@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');


.allCoaches{
    background-color: #7DBBC3;
}


#name{
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: underline;
    font-family: "Koulen", sans-serif;
}


